* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

header {
  /* height: 67vh; */
  background: #23424A;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.content {
  width: 50%;
}

.content h1 {
  font-size: 3.3vw;
  font-weight: 900;
  line-height: 1.1em;
}

.content p {
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 1.5em;
  /* margin: 1rem 0; */
}

.btn {
  display: inline-block;
  font-size: 1.7vw;
  font-weight: 700;
  text-align: center;
  color: #072A2D;
  background: #38CFD9;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  /* margin: 1rem 0;
  padding: 1rem 3rem; */
  border-radius: 2rem;
}

@media screen and (max-width: 1439px) {
  .content h1 {
    font-size: 2.9rem;
  }
  .content p {
    font-size: 1.3rem;
  }
  .btn {
    font-size: 1.5rem;
  }
}