* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

body {
  margin: 0;
}

header {
  height: 67vh;
  background: #23424A;
}

.container {
  width: 83%;
  margin: 0px auto;
}

.content {
  width: 50%;
}

.content h1 {
  font-size: 3rem;
  font-weight: 900;
}

.content p {
  font-size: 1.3rem;
  font-weight: 400;
}

.btn {
  font-size: 1.3rem;
  font-weight: 700;
}