*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 400 1.3125rem 'Roboto', sans-serif;
}

img {
  width: 45%;
}

h3 {
  margin-top: 0;
  font: 900 2.25rem 'Playfair Display', sans-serif;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
}

.container {
  width: min(80%, 1128px);
  margin: 0 auto;
}

.col {
  width: 45%;
  line-height: 1.5em;
}

.hero {
  background-color: #F3EED9;
}

.content {
  width: min(70%, 790px);
  min-height: 660px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.hero__title {
  margin: 0;
  font: 900 3.75rem 'Playfair Display', sans-serif;
  color: #824936;
}

.hero__subtitle {
  margin-top: 0;
  font: 300 1.125rem 'Roboto', serif;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.main__section1 {
  padding: 5em 0;
}

.main__section1 h3 {
  color: #824936;
  text-align: center;
}

.main__section2 {
  padding: 5em 0;
  background-color: #222C2A;
  color: #FFF;
}

.main__section3 {
  padding: 5em 0;
  background-color: #824936;
  color: #FFF;
}

.main__section3__content {
  order: 2;
}